@media screen and (max-width: @screenSm) {

  body {
    font-size: 12px;
  }

  /* MODULES */
  .m {
    &-angle {
      &-rotated {
        height: 80px;
      }
    }

    &-list {
      &-item {
        img {
          height: 50px;
          width: 50px;
        }
        &-wrap {
          padding: 4.2488755622188905% 0 !important;
        }
      }
      &-info {
        left: 65px;
      }
    }
  }
  /* MODULES */

  .l {
    &-grey {
      &-md.l-grey {
        padding-top: 30px;
        padding-bottom: 10px;

        .checkbox-button {
          margin-top: -16px;
        }
      }
    }
    &-adaptive {
      &-sm {
        &.l-fixed.l-mailbox .l-main {
          top: 16.814815%;
          padding-top: 0 !important;
        }
      }
    }
  }

  .btn-round.btn-sm {
    &.btn-right {
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin-bottom: 0px !important;

      &.second {
        margin-right: 55px;
      }
    }

    width: 45px;
    height: 45px;
    line-height: 45px;
  }

  .m-angle__button.btn-md {
    margin-bottom: -32px;
  }

  .btn-round.btn-md {
    width: 65px;
    height: 65px;
    line-height: 55px;
  }
}

@media screen and (max-height: 650px) {
  .btn-round.btn-sm {
    margin-bottom: -10px !important;
  }
  .l-adaptive-wrapper {
    .m-angle {
      height: 49.481259%;
    }
    &.l-adaptive-md .m-angle {
      height: 43.481259%;

      .btn-round.btn-sm.btn-right {
        margin-bottom: -10px !important;
      }
    }
  }
}

@media screen and (max-height: 490px) {
  .btn-round.btn-sm {
    margin-bottom: -10px !important;
  }
  .l-adaptive-wrapper {
    .m-angle.main {
      min-height: 238px;
      height: 43.481259%;

    }

    .l-main {
      top: 36.481259%;
    }

    .m-connect {
      bottom: 6%;
    }

    .m-angle {
      height: 53.481259%;
    }
    .l-dialplan__list li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}