@media screen and (min-width: @screenMd) {
  body {
    font-size: 20px;
  }

  /* MODULES */
  .btn {
    &-round.btn-sm {
      width: 80px;
      height: 80px;
      line-height: 80px;
      &.btn-settings {
        margin-top: -40px;
      }
    }
    &-round.btn-md {
      width: 110px;
      height: 110px;
      line-height: 110px;
      margin-top: -55px;
    }
  }

  .m {
    &-connect {
      &-slider {
        &__button {
          width: 15px;
          height: 15px;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  /* MODULES */
}