.thm {
  &-main {
    .m-angle {
      > img  {
        width: 100%;
        height: 100%;
        max-width: 100%;
      }
    }

  }
}

@LinkColor: #f97900;
@LinkColorDisabled: #aaaaaa;

@Background: #d90900;
@ActiveColor: #06ba06;
@ActiveColorLight: #9be39b;
@BackgroundMainImage: "img/entry.jpg";