.l-adaptive {

  &-top {
    height: 100%;
    position: relative;
  }

  //TODO scroll

  height: 100%;
  overflow: hidden;

  &-wrapper {
    height: 100%;

    overflow: hidden;
    position: relative;
  }

  .m-angle {
    position: absolute;
    height: 47.481259%;

    left: -100px;
    right: -100px;
    top: -100px;
  }

  &-md {
    .m-angle {
      height: 38.481259%;
      min-height: 175px;
    }
  }

  &-sm {
    .m-angle {
      height: 30.814814814814813%;
      min-height: 175px;
    }

    &.l-fixed .l-main {
      top: 20.814814814814813%;
      padding-top: 20px;
    }
  }
}

.l {
  &-adaptive {
    &-sm {
      &.l-fixed.l-mailbox .l-main {
        top: 18.814815%;
        padding-top: 0 !important;
      }
    }
    &-md.l-fixed {
      .l-main {
        top: 29.481259%;
      }
    }
  }
}