.l-adaptive {
  overflow: auto;
  height: 100%;

  &-wrapper {
    height: 100%;

    overflow: hidden;
    position: relative;
  }

  .m-angle {
    position: absolute;
    height: 47.481259%;

    left: -100px;
    right: -100px;
    top: -100px;

    min-height: 200px;
  }
}