.l-fixed {
  .m-angle {
    position: fixed;

    &-wrapper {
      &:before {
        position: absolute;
        content: '';
        height: 8.398950131233596%;
        background-color: #6c0400;

        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
      }
    }
  }

  .l-main {
    position: relative;
    top: 37.48125937031484%;
  }
}