.l-fixed {
  .m-angle {
    &-wrapper {
      padding-top: 20px;

      &:before {
        position: absolute;
        content: '';
        height: 20px;
        background-color: #6c0400;

        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
      }
    }
  }

  .l-main {
    top: 37.48125937031484%;
  }
}