.l-grey {
  color: #000;

  background-color: #ededed;

  padding: 15px @paddingContent;

  &-header {
    text-transform: uppercase;
    font-size: 0.85em;

    font-weight: 500;
    letter-spacing: 1px;
  }

  &.l-grey-md {
    padding: 25px 5.33333333% 15px;
  }

  &-md {
    .checkbox-button {
      margin-top: -16px;
    }
  }
}