.l {
  &-pin {
    height: 100%;
    position: relative;
    overflow: hidden;

    color: #fff;

    background-image: url("../../@{BackgroundMainImage}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-connect {
      height: 100%;

      .l-pin {
        background-image: none;
        &:before {
          display: none;
        }
      }

      .l-pin-wrapper {
        height: 100%;
      }

      .l-pin-center {
        top: 44%;
        color: #fff;
        height: 51.031088%;
      }

      .l-pin__name {
        margin-bottom: 3.5%;
      }

      .l-pin__spaces {
        bottom: auto;
        height: 44.607843%;
      }

    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      background-color: rgba(0,0,0,0.5);
      z-index: 0;
    }

    &__name {
      font-size: 1.2em;
    }

    &__form-read {
      position: absolute !important;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__space {
      &, div {
        position: relative;
        height: 100%;
      }

      .l-pin__input {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);

        width: 100%;
        height: 100%;
        position: relative;

        outline: none;

        border: 0;
        background-color: transparent;
        color: transparent !important;
        z-index: 200;

        &:focus, &:active {
          outline: none;
          color: transparent !important;
        }
      }
    }

    &__spaces {
      padding: 0 7.343124165554073%;
      height: 59.6078431372549%;

      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;

      .row {
        position: relative;
        height: 100%;
      }
    }

    &__pinLetters {
      position: absolute;

      left: 0;
      top: 0;

      height: 100%;
      width: 100%;

      border: 0;
      border-bottom: 1px solid rgba(256, 256, 256, 0.7);
      background-color: transparent;

      outline: none;

      padding: 0;

      text-align: center;
      font-size: 2.2em;

      border-radius: 0 !important;

      &:focus {
        outline: none;
      }

      &.focus {
        border-bottom: 3px solid #fff;
      }
    }

    &-wrapper {
      z-index: 1;
      position: absolute;
      height: 57.94602698650675%;

      left: 0;
      right: 0;
    }

    &-center {
      text-align: center;
      position: relative;
      height: 33.031088082901555%;

      top: 50%;
      transform: translate(0,-50%);
    }
  }
}