.input {
  &-custom {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);

    width: 100%;
    height: 60px;

    border: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    border-bottom: 2px solid #f1f1f1;

    background-color: transparent;

    color: #000;
    font-size: 1.3em;

    outline: none;

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      color: #c2c2c2;
    }

    &.focus, &:focus {
      border-bottom-width: 3px;
      border-bottom-color: #736B72;
    }

    &.valid {
      border-bottom-color: #736B72;
    }

    &.error {
      border-bottom-color: red;

      & + span {
        color: red;
        margin-top: 4px;
      }
    }
  }

  &-search {
    margin: 24px 0 0;
    padding-right: 55px;
    border-bottom: 0 !important;

    color: #fff;

    &:focus {
      border-bottom: 1px solid rgba(256, 256, 256, 0.5) !important;
    }
  }
  &-search::-webkit-input-placeholder {
    color: rgba(256, 256, 256, 0.7);
  }
  &-search::-moz-placeholder {
    color: rgba(256, 256, 256, 0.7);
  }
  /* Firefox 19+ */
  &-search:-moz-placeholder {
    color: rgba(256, 256, 256, 0.7);
  }
  /* Firefox 18- */
  &-search:-ms-input-placeholder {
    color: rgba(256, 256, 256, 0.7);
  }
}