.input {
  &-custom {
    width: 100%;
    height: 60px;

    border: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    border-bottom: 2px solid #f1f1f1;

    background-color: transparent;

    color: #000;
    font-size: 1.3em;

    outline: none;

    &::-webkit-input-placeholder,
    &::-moz-placeholder ,
    &:-moz-placeholder ,
    &:-ms-input-placeholder {
      color: #c2c2c2;
    }

    &.focus, &:focus {
      border-bottom-color: #736B72;
    }

    &.valid {
      border-bottom-color: #736B72;
    }
  }
}