@import "normalize.css";
@import "vendor/bootstrap.css";
@import "vendor/toastr.min.css";
/** vendor files and plugins =========================== */

/** main theme of app =========================== */
@import "thm/main.less";
/** main theme of app =========================== */

html {
  height:100%;
  min-height:100%;

  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 26px;
}

body {
  margin: 0 auto;
  height: 100%;

  min-width: 320px;
  max-width: 768px;
  min-height: 550px;

  position: relative;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100%;
  & > div, & > div > div {
    height: 100%;
  }

  max-width: 768px;

  &.loading {
    @loaderWH: 80px;

    position: relative;

    &:before {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      background-color: rgba(0, 0, 0, 0.6);

      z-index: 10000;
    }
  }
}

@paddingContent: 5.333333333333334%;

/** pages =========================== */
@import "fluidable.less";
@import "enterPage.less";
/** pages =========================== */

/** modules =========================== */
@import "modules/angle.less";
@import "modules/connect-slider.less";
@import "modules/keyboard.less";
@import "modules/list.less";
/** modules =========================== */

/** layouts =========================== */
@import "layouts/main.less";
@import "layouts/pin.less";
@import "layouts/adaptive.less";
@import "layouts/fixed.less";
@import "layouts/dialplan.less";
@import "layouts/grey.less";
@import "layouts/settings.less";
/** layouts =========================== */

/** features =========================== */
@import "features/check.less";
@import "features/btn.less";
@import "features/input.less";
/** features =========================== */

/** media =========================== */
@import "media/screen.less";
/** media =========================== */