.m {
  &-keyboard {
    box-shadow: 0 0 5px #928e8e;

    background-color: #ebebeb;
    color: #090909;
    position: absolute;

    height: 41.97901049475262%;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;

    font-weight: 300;

    &-digits {
      height: 75%;
      position: relative;

      * {
        height: 100%;
      }
    }

    &-digit {
      height: 33.333333333333336%;
    }

    &-buttons {
      -webkit-transform: translate3d(0px,0px,0px);
      transform: translate3d(0px,0px,0px);

      height: 25%;
      position: relative;

      &:active {
        margin-top: 1px;
      }

      img {
        max-width: 80%;
        max-height: 70%;
      }

      * {
        min-height: 30px;
        min-width: 30px;

        display: inline-block;
        height: 100%;
      }
    }

    &__key {
      -webkit-transform: translate3d(0px,0px,0px);
      transform: translate3d(0px,0px,0px);
      position: absolute;

      left: 0;
      top: 0;
      width: 100%;

      font-size: 2.2em;
      text-align: center;

      background-color: transparent;
      border: 0;
      outline: none;

      cursor: pointer;

      &:active:not(.buttons) {
        top: 1px;

        background-color: #D8D2D2;
      }


      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      .btn-round {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
      }
    }
  }
}

.l-keyboard {
  transform: translate(0, 0);

  &.hiden {
    transform: translate(-102%, -100%);
  }

  &-fixed {
    position: absolute;
    height: 44%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;

    .m-keyboard {
      height: 100%;
      top: 0;
    }
  }
}