.m {
  &-list {
    height: 100%;
    overflow: auto;

    &-dialplan {
      background-color: @Background;
      color: #fff;
    }

    &-item {
      position: relative;
    }

    &-info {
      left: 100px;
      top: 50%;
      right: 0;

      transform: translateY(-50%);
      position: absolute;
    }

    padding: 0 5.733333333333333%;

    &-dialplan &-item {
      border-bottom: 1px solid rgba(256, 256, 256, 0.4);
      padding: 2.2488755622188905% 0;

      img {
        height: 80px;
      }

      h3 {
        margin-top: 0;
        font-size: 2.1em;
        font-weight: 300;
        margin-bottom: 5px;

        white-space: nowrap;
        max-height: 50%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-letter {
          text-transform: capitalize;
        }
      }

      .m-list-phone {
        font-size: 0.85em;
      }
    }
  }
}